/*index.css*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2 !important;
  color: #2c3e50 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root{
	height: 100%;
	width: 100%;
	padding: 0;
}
.grayBtn>button{
    color: #999 !important;
    font-weight: 500 !important;
    border-color: #dcdada !important;
    background-color: #fafafa !important;
}
.grayBtn>button:hover{
  color: #ffffff !important;
  background-color: #999 !important;
}
