.tags>ul{
	list-style: none;
	padding: 0px;
}
.tags>ul>li{
	display: inline;
    color: #9d9d9d;
    font-size: 16.5px;
    cursor: pointer;
    margin-right: 16px;
    border-bottom: 1px solid #999;
}
.tags>ul>li:last-child{
	margin-right: 0px;
}
.tags>ul>li:hover{
	color: inherit;
	border-bottom: 1px solid #999;
}
.tags>div{
	cursor: pointer;
	font-size: 15px;
	padding: 5px 12px;
    color: #999;
    /*background-color: transparent;*/
}
.tagsLeft{
	text-align: left;
}
.tags>div:last-child{
	margin-right: 0px;
}
.tags>div:hover{
	color: #ffffff !important;
	/*background-color: #fafafa !important;*/
	background-color: #999 !important;
}